/* 
.baseHeader {
  background-color: var(--color-secondary);
  color: var(--color-secondary);
  position: absolute;
  padding: 0;
  height: 76px;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
}

.baseHeader .nav-link {
  display: inline-flex;
  width: auto;
  align-items: center;
  outline-offset: 0;
  text-decoration: unset;
  white-space: nowrap;
  cursor: pointer;
  color: var( --accent-1);
}

.baseHeader .nav-link:hover {
  color: var(--accent-2);
}

.baseHeader .b-header-icon {
  margin-left: 3rem;
} */
