/* 
.form-control {
 display: flex;
  z-index: 3;
  text-align: start;
  position: relative;
  min-height: 3rem;
  height: 3rem;
  width: 100%;
  background: #fff;
  border: 1px solid #dadce0;
  box-shadow: var(--shadow-medium);
  border-radius: 26px;
  margin: 0 auto;
  padding: 0 13px;
}

.form-control:hover{
  box-shadow: var(--shadow-medium) !important;
}

.form-control:focus-visible.search:focus{
  border: none !important;
  outline: 1px solid rgb(81, 72, 130) !important;
 

} */
