@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  MY DESIGN TOKENS/VARIABELS LIVES HERE */

/* ****************************** */
/*         LIGHT MODE            */
/* ******************************/

a{
  text-decoration:none;
  color: var(--color-accent-3);
  

}
a:hover {
  text-decoration: underline .8px;
   color: var( --color-accent-1);
  
} 
  
.is-invalid {
  color: var(--color-error);
  margin-left:10px ;
}
 @theme{

    /* -------- BREAKPOINTS -------- */
  --breakpoint-xs: 30rem;   /* 480px  */
  --breakpoint-sm: 40rem;   /* 640px  */
  --breakpoint-md: 48rem;   /* 768px  */
  --breakpoint-lg: 64rem;   /* 1024px */
  --breakpoint-xl: 80rem;   /* 1280px */
  --breakpoint-2xl: 96rem;  /* 1536px */
    /* -------- BG & SURFACE COLORS-------- */
  --color-background:oklch(0.5167 0.1039 0);
  --color-surface: oklch(0.9766 0.0096 273.36);

  --color-accent-1: oklch(0.317 0.0939 272.66);
  --color-accent-2: oklch(44.368% 0.21598 267.512);
  --color-accent-3: oklch(0.3979 0 0);

     /* -------- FEEDBACK COLORS -------- */
  --color-error: oklch(59.9% 0.2 27);
  --color-success: oklch(75.1% 0.18 145);
  --color-warning: oklch(84.4% 0.17 85);

  /* -------- TEXT COLORS -------- */
  --color-heading: oklch(0.1957 0 0); 
  --color-sub: oklch(30% 0 0); 
  --color-body: oklch(98% 0 0); 

  /* -------- FONT FAMILIES -------- */
  --font-heading: "Poppins", "Merriweather", "Georgia", serif;
  --font-sans:"Mona Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  

  /* FONT SIZES */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-h4: 1.25rem;
  --text-h3: 1.5rem;
  --text-h2: 1.875rem;
  --text-h1: 3.25rem;

 

  /* LINE HEIGHT */
   --leading-tight: 1.1;  
  --leading-normal: 1.5;
  --leading-relaxed: 1.7;

  /* SPACING COLUMNS */
 --spacing-cols: 1.5rem;  

 /* SPACING SECTIONS */
  --spacing-section: 4rem; 

  /* RADIUS */
  --radius-xs: 2px;  
  --radius-sm: 4px;  
  --radius-md: 8px;   
  --radius-lg: 12px;  
  --radius-xl: 16px; 

  /* SHADOWS */
  --shadow-sm:  0px 3px 10px 0px rgba(31, 31, 31, 0.04);
  --shadow-md: 0px 3px 10px 0px rgba(31, 31, 31, 0.4);

  /*********************************/
/*           DARK MODE           */
/* *******************************/


}
  [data-theme="dark"] {
  /*  Colors  */
  --color-background: oklch(0.2077 0.0694 268.75); 
  --color-surface: oklch(0.2431 0.0768 268.55); 

  --color-accent-1: oklch(0.7313 0.0509 271.03); 
  --color-accent-2:  oklch(94% 0 0); 
  --color-accent-3: oklch(56.7% 0.00401 220.285);

  /* -------- TEXT COLORS -------- */
  --color-heading: oklch(95% 0 0);  
  --color-sub: oklch(0.8613 0 0);
  --color-body: oklch(98% 0 0); 

  /*  Shadow  */
  --shadow-sm: 0 6px 18px 0 oklch(0.1 0 0 / 0.5);  
  --shadow-md: 0 12px 30px 0 oklch(0.08 0 0 / 0.8); 
}


