/* .search {
 display: flex;
  z-index: 3;
  text-align: start;
  position: relative;
  min-height: 3rem;
  height: 3rem;
  width: 100%;
  background: #fff;
  border: 1px solid #dadce0;
  box-shadow: var(--shadow-small);
  border-radius: 26px;
  margin: 0 auto;
  padding: 0 13px;
}

.search:hover{
  box-shadow: var(--shadow-medium);
}
.search:focus-visible, .search:focus{
  border: none;
  outline: 1px solid rgb(81, 72, 130);
 

} */
